.footer{
    margin-top: 4rem;
    padding: 1.5rem;
    text-align: center;
    background-color: #08e95e;
    color: #fff;
    font-size: 1rem;
}
@media (max-width: 768px) {
    .footer{
        font-size: 0.875rem;
        padding: 1rem;
    }
}
@media (min-width: 768px) {
    .footer{
        font-size: 1.125rem;
        padding: 1.5rem;
    
}
}