.projects-container{
    padding-top: 8rem;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}
.projects-container h1{
    font-size: 40px;
    text-align: center;
    margin: 7rem;
}
.projects-grid{
    display: grid;
    gap: 2.5rwm;
}
.projects-grid-xl{
    gap: 2.5rem;
}
.projects-grid-md-2{
    grid-template-columns: repeat(2, 1fr);
}
.projects-grid-lg-3{
    grid-template-columns: repeat(3, 1fr);
}
.projects-center{
    place-items: center;
}
@media (max-width: 768px) {
    .projects-grid{
        grid-template-columns: 1fr;       
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .projects-grid{
        grid-template-columns: repeat(2, 1fr);       
    }   
}
@media (min-width: 1024px) {
    .projects-grid{
        grid-template-columns: repeat(3, 1fr);
    }
}